.information-main-img {
  background: url(../images/low_head.jpg);
  height: 300px;
  background-position: center;
}

.information-main-text {
  font-size: 35px;
  text-align: center;
  padding: 95px 0 0 0;
  margin: 0;
  color: #fff;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}

.information-main-text p {
  margin: 30px auto 0;
}

.information-main-text span {
  font-size: 20px;
}

.information-page {
  width: 80%;
  flex-grow: 1;
}

@media screen and (max-width: 768px)  {
  .information-main-img {
    height: 100px;
    margin-top: 60px;
  }

  .information-main-text {
    padding: 0;
  }
  .information-main-text p {
    font-size: 24px;
    margin-top: 0;
    line-height: 2rem;
    padding-top: 15px;
  }

  .information-inner-text p {
    font-size: 38px;
    top: -35px;
  }
}
@media screen and (max-width: 480px)  {
  .info {
    padding: 60px 10px 30px;
    background-color: #fff;
  }
}