.work-main-img {
  background: url(../images/low_head.jpg);
  height: 300px;
  background-position: center;
}

.work-main-text {
  font-size: 35px;
  text-align: center;
  padding: 95px 0 0 0;
  margin: 0;
  color: #fff;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}

.work-main-text p {
  margin: 30px auto 0;
}

.work-main-text span {
  font-size: 20px;
}

.work-page {
  width: 80%;
  flex-grow: 1;
}

.work-top {
  padding: 75px 40px;
}

.work-inner {
  position: relative;
  margin: 0;
}

.work-inner-text {
  margin: 0;
    color: #42A995;
    margin-bottom: 30px;
    font-size: 30px;
}

.work-inner-text p {
  margin: 0;
    position: absolute;
    top: -70px;
    left: 0;
    color: rgba(66,169,149,0.2);
    font-size: 75px;
    font-weight: bold;
    letter-spacing: 0.5rem;
}

@media screen and (max-width: 768px)  {
  .work-main-img {
    height: 100px;
    margin-top: 60px;
  }

  .work-main-text {
    padding: 0;
  }
  .work-main-text p {
    font-size: 24px;
    margin-top: 0;
    line-height: 2rem;
    padding-top: 15px;
  }

  .work-inner-text p {
    font-size: 38px;
    top: -35px;
  }
}
@media screen and (max-width: 480px)  {
  .work-top {
    padding: 60px 10px 30px;
  }
}