.inner {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
  }

  .header {
  background: rgb(255 255 255 / 0.9);
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  right: 0;
  }

  .header-inner {
  display: flex;
  }

  .header-title a{
  color: #42a995;
  font-size: 30px;
  font-weight: bold;
  }

  .header-nav {
    margin: auto;
  }

  .header-nav-list {
  display: flex;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  .sub {
    display: block;
    font-size: 15px;
    color: #42a995;
    line-height: 0%
  }

  .header-nav-tel {
    background-color: #8CBC9C;
    color: #FFF;
    width: 200px;
    height: 80px;
    margin-left: 30px;
  }

  .header-nav-tel-link {
    color: #FFF;
    top: 35%;
    position: absolute;
    font-size: 20px;
    width: 100%;
  }

  .header-nav-item:not(:first-child){
  margin-left: 40px;
  }

  .header-nav-item-link {
  display: block;
  color: #333;
  line-height: 50px;
  text-align: center;
  }

  .header-nav-contact {
    background: #42A994;
  }

  .header-nav-contact li {
    padding: 25px 30px 0 0;
  }
  
  i:before{
  color: #42a995;  /*アイコンの色*/
  font-family:"Font Awesome 5 Free";
  content:"f095";  /*アイコンのコード*/
  font-weight:900;  /*アイコンの種類*/
  margin-right:10px;  /*アイコン右の余白*/
}

 i{
  color: #42a995;  /*アイコンの色*/
  font-family:"Font Awesome 5 Free";
  content:"f0e0";  /*アイコンのコード*/
  font-weight:900;  /*アイコンの種類*/
}
 
/* main_visual */
.main_visual_block {
  display: flex;
  height: 700px;
}

.main_visual_side {
  width: 15%;
  font-size: 0.8rem;
  background-color: #F2F2F2;
  padding-top: 100px;
}

.main_visual_side_text2 {
  background-color: #E0DBC9;
  padding: 2px 5px;
  margin: 0 10px;
}

.main_visual {
  width: 85%;
  margin: 0 auto;
}

.main_visual img {
  width: 100%;
  vertical-align: top;
  height: 100%;
  object-fit: cover;
}

.top_catchcopy span {
  background-color: rgba(66,169,149,0.9);
  font-size: 50px;
  color: #fff;
  position: absolute;
  width: max-content;
  padding: 0 20px;
}

.top_catchcopy {
  position: absolute;
  padding: 0 20px;
}

.topcatch1 {
  top: 30px;
}

.topcatch2 {
  top: 120px;
}

.topcatch3 {
  top: 210px;
}

.main_visual_block2 {
  position: relative;
  display: flex;
}

.sidenav {
  position: relative;
  width: 270px;
  font-size: 1rem;
  letter-spacing: 0.2em;
  padding: 0 ;
  width: 15%;
  background-color: #F2F2F2;
}

.sidenav h2 {
  background-color: #BF9767;
  color: #fff;
}

.side_list {
  /* position: absolute; */
  left: 0;
  font-size: 0.8rem;
  line-height: 4;
  padding-top: 20px;
  padding-left: 0;
}

.side_list li {
  border-bottom: solid 1px #C8C8C8;
}

.side_contact {
  box-sizing: border-box;
  /* position: absolute; */
  top: 1650px;
  color: #333;
  padding-left: 0;
}

.side_contact li {
  display: block;
  padding: 10px 0 14px 10px;
  margin: 10px 10px 0 0;
  background-color: #42a995;
  color: #fff;
}

.side_contact2 {
  /* position: absolute; */
  top: 1800px;
  line-height: 1.75em;
  left: 20px;
}

.fa-phone:before {
    background-color: #FFF;
    padding: 2px;
    border-radius: 3px;
}

.fa-envelope:before {
  color: #fff;
  font-size: 22px;
}

.page {
  width: 85%;
}

.section-title {
  display: flex;
  padding: 100px 40px 80px;
}

.title {
  position: absolute;
  color: rgba(66,169,149,0.2);
  font-size: 70px;
  font-weight: bold;
  padding-left: 30px;
}

.heading {
  font-size: 30px;
  padding-left: 30px;
  padding-top: 95px;
  line-height: 3.7rem;
}

.frame {
  display: inline-block;
  background: rgb(194,183,139,0.4);
}

.btn  {
  background: #42A995;
  max-width: 300px;
  border-radius: 23px;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  text-align: center;
  color: #FFF;
  padding: 10px 50px;
  margin-left: 30px;
}

.top_about_img img {
  max-width: 100%;
  width: 80%;
  padding-top: 80px;
}

.menu {
  display: flex;
  background: rgb(194,183,139,0.2);
  padding: 50px;
  position: relative;
}

.menu-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-menu {
  color: rgba(66,169,149,0.2);
  font-size: 90px;
  font-weight: bold;
  position: absolute;
  top: 0;
  margin: 0;
}

.menu-heading {
  font-size: 30px;
  color: #42A995;
  margin-bottom: 0;
}

.menu-text {
  font-size: 16px;
  letter-spacing: 0.2rem;
  text-align: center;
}

.btn-menu {
  background: #42A995;
  max-width: 300px;
  border-radius: 23px;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  text-align: center;
  color: #FFF;
  padding: 10px 100px;
}
 
.top_menu_img img{
  width: 80%;
}

.info {
  position: relative;
  padding: 0 160px;
}

.title-info {
  position: absolute;
  color: rgba(66,169,149,0.2);
  font-size: 70px;
  font-weight: bold;
}

.info-heading {
  font-size: 30px;
  padding: 130px 0 0 0px;
  color: #42A995;
}

.info-text {
  padding: 0;
}

.info-text li {
  margin: 40px 0 0 0px;
  padding: 0 20px 20px;
  font-size: 20px;
  border-bottom: solid 1px #333;
}

.info-text span {
  margin-right: 20px;
}

.info-btn {
  padding-top: 40px; 
  text-align: right;
}

.info-btn span {
  border: solid 1px #333;
  padding: 5px 5px 5px 10px;
}

.info-btn i {
  color: #333;
}

.banner {
  background-color: rgb(194,183,139,0.2);
  padding: 60px 160px 100px 160px;
  margin-top: 70px;
}

.banner-text {
  text-align: center;
  color: #FFF;
  background-color: #5A5A5A;
  padding: 5px 0 5px 0px;
}

.banner-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner-flex div {
  width: 21%;
}

.banner-flex div img{
  width: 100%;
  padding: 15px 20px 0px 0;
}

.work {
  padding: 0 160px;
  position: relative;
}

.title-work {
  position: absolute;
  color: rgba(66,169,149,0.2);
  font-size: 70px;
  font-weight: bold;
}

.work-heading {
  font-size: 30px;
  padding: 130px 0 0 0;
  color: #42A995;
}

.work-flex {
  display: flex;
}

.work-text {
  font-size: 18px;
  letter-spacing: 0.2rem;
  width: 60%;
}

.work-text span {
  background-color: rgb(194,183,139,0.4);
  padding: 4px 7px 0px 7px;
}

.work-img {
  width: 40%;
}

.work-img img{
  max-width: 100%;
}

.work-imges img {
  width: 100%;
}

.category p{
  background-color: #42A995;
  color: #FFF;
  max-width: 15%;
  font-size: 20px;
  text-align: center;
  padding: 5px 0px 0 10px;  
}

.category ul{
  
}

.category li{
  display: inline-block;
  background: rgba(217,238,234,0.4);
  color: #16957D;
  margin-bottom: 20px;
  padding: 5px 10px;
  margin-right: 15px;
  font-size: 18px;
}

.page-footer {
  background-color: #42A995;
  display: flex;
  text-align: center;
  background: #42A995;
  padding: 20px 140px 20px 180px;
}

.footer-text {
  color: #FFf;
  text-align: center;
  font-size: 22px;
  width: 50%;
}

.footer-text p {
  font-size: 45px;
}

.footer-contact {
  color: #42A995;
  font-size: 30px;
  width: 50%;
  background-color: #42A995;
}

.footer-contact p {
  text-align: center;
  background: #fff;
  padding: 10px 0px 9px 10px;
  margin: 60px 70px 0 10px;
}

.footer-contact p i{
  color: #42A995;
}

.fa-envelope:before {
  font-size: 22px;
}

.copyright {
  background-color: #010000;
  padding: 20px;
}

.copyright p{
  text-align: center;
  color: #FFF;
}

@media screen and (max-width: 768px) {
  p{
      
   }
}

@media screen and (max-width: 480px) {
  p{
      
   }
}